/* 
- Mobile: 375px
- Desktop: 1440px
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-image: url(/images/bg-pattern-top-desktop.svg),
    url(/images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  max-width: 1440px;
  padding: 15vh 10vw;
  display: flex;
  flex-direction: column;
}

.top-content {
  margin-bottom: 6rem;
  display: flex;
}

.hero {
  flex-basis: 50%;
  padding-right: 9rem;
}

.headline {
  margin-bottom: 1.5rem;
  color: hsl(300, 43%, 22%);
  line-height: 1;
  font-size: 4.5rem;
  font-weight: 700;
}

.hero-text {
  color: hsl(303, 10%, 53%);
  line-height: 1.7;
  font-weight: 500;
}

.rating-container {
  flex-basis: 50%;
}

.rating {
  width: calc(100% - 9rem);
  margin: 1.5rem;
  margin-left: 0;
  border-radius: 7px;
  background-color: hsl(300, 24%, 96%);
  display: flex;
  align-items: center;
  padding: 1.5rem;
  color: hsl(300, 43%, 22%);
  font-size: 1.3rem;
  font-weight: 700;
}

.rating:nth-of-type(2) {
  margin-left: 4.5rem;
}

.rating:nth-of-type(3) {
  margin-left: 9rem;
}

.stars {
  padding: 0 1.5rem;
}

.rating-text {
  padding: 0 1.5rem;
}

.card-container {
  display: flex;
}

.card {
  height: min-content;
  border-radius: 8px;
  background-color: hsl(300, 43%, 22%);
  padding: 4rem;
  color: hsl(300, 24%, 96%);
}

.card-container > * + * {
  margin-left: 3rem;
}

.card:nth-of-type(2) {
  margin-top: 1.5rem;
}

.card:nth-of-type(3) {
  margin-top: 3rem;
}

.card-top {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.thumbnail {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
}

.card-headline {
  padding-left: 2rem;
}

.name {
  margin-bottom: 0.4rem;
}

.title {
  color: hsl(333, 80%, 67%);
  font-weight: 400;
}

.card-text {
  line-height: 1.7;
  font-size: 1.3rem;
  font-weight: 500;
}

.attribution {
  margin-top: auto;
  padding-bottom: 1.1rem;
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1220px) {
  .top-content {
    flex-direction: column;
  }

  .hero {
    margin-bottom: 4.5rem;
    padding-right: 0;
    text-align: center;
  }

  .rating {
    width: calc(100% - 18rem);
    justify-content: center;
  }

  .rating:nth-of-type(2) {
    margin-left: 9rem;
  }

  .rating:nth-of-type(3) {
    margin-left: 18rem;
  }

  .card-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    flex-basis: 40%;
    height: auto;
  }
  .card:nth-of-type(2) {
    margin-top: 0;
    margin-left: 3rem;
  }

  .card:nth-of-type(3) {
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .top-content {
    margin-bottom: 3rem;
  }

  .hero {
    margin-bottom: 1.5rem;
  }

  .rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rating {
    width: 100%;
    margin-right: 0;
  }

  .rating:nth-of-type(2),
  .rating:nth-of-type(3) {
    margin-left: 0;
    margin-right: 0;
  }

  .card {
    flex-basis: 60%;
  }
  .card:nth-of-type(2),
  .card:nth-of-type(3) {
    margin: 1.5rem 0 0 0;
  }
}

@media (max-width: 520px) {
  body {
    background-image: url(/images/bg-pattern-top-mobile.svg),
      url(/images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }

  .headline {
    font-size: 3rem;
  }

  .hero-text {
    font-size: 1.3rem;
  }

  .rating {
    flex-direction: column;
  }

  .stars {
    margin-bottom: 1rem;
  }

  .card {
    flex-basis: 100%;
    padding: 3rem;
  }

  .rating,
  .card .name,
  .card .title,
  .card .card-text {
    font-size: 1.2rem;
  }
}
